<body>
    <div class="container-fluid main-container">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-md-6 text-center">
            <div class="heading">
              <h1 class="text-white mb-4">Welcome to Exercise and Routine Manager</h1>
            </div>
          
            <div class="buttons mt-auto">
              
              <a  class="btn btn-lg btn-warning">See Exercises 🏋️‍♂️</a>
            </div>
            <div class="buttons mt-2">
              <a class="btn btn-lg btn-warning">See Routines 📅</a>
            </div>
          </div>
        </div>
      </div>
    </body>
