.container-fluid.main-container {
    height: 100vh; /*Se centra en la pantalla*/
  }

.col-md-6{
  filter: brightness(1);
  background-color: rgb(46, 46, 46);
  border-radius:25px;
  background: linear-gradient(to bottom, rgba(53,58,64,255) 30%, rgb(217, 217, 217) 30%);
  border: 2px solid black;
  width: 800px;
}
  
  .heading {
    font-size:medium;
    filter: brightness(1);
    -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px; 
    margin-bottom: 55px;
    font-size: 50px;
    
    
}
  
  .buttons {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    filter: brightness(1);
    margin-bottom: 20px;
    text-align: center; 
    position: relative;
}

body {   /*Solo es para el fondo de pantalla, no creo que se tenga que volver a tocar, Para El resto de elementos hay que volver a poner el brigtness a 1*/
  background: url('/../assets/backgroundMAin.png');
  filter: brightness(0.8
  );
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  height: 100vh;  
}