<header>Lista de ejercicios</header>

<body>
    <p>prueba works!</p>

    <div class="container">
      <div class="ejercicios">
        @for (ejercicio of ejerprueba.getEjercicio(); track ejercicio) {
          
            <li (click)="ejerprueba.seleccionarEjercicio(ejercicio)">  Nombre:{{ejercicio.nombre}} </li>
            
           
        }
      </div>
      <div class="descripciones" *ngIf="ejerprueba.ejercicioSeleccionado">
        <h3>Selecciona un ejercicio</h3>
        <p>Al seleccionar un ejercicio de la lista, aquí aparecerá su descripción.</p>
        <h3>{{ ejerprueba.ejercicioSeleccionado?.nombre }}</h3>
        <p> Descripcion:{{ejerprueba.ejercicioSeleccionado?.descripcion }}</p>
        <p> Dificultad:{{ejerprueba.ejercicioSeleccionado?.dificultad }}</p>
        
      </div>
  </div>
  
   
</body>