/* Estilos para el encabezado */
.header {
  background-color: rgba(53, 58, 64, 255);
  color: white;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  padding-left: 40px;
  padding-top: 5px;
  border-bottom: 2px solid black;
  text-align: left;
  display: flex;
  
}


.buttons {
    
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  filter: brightness(1);
  text-align: right; 
  position: relative;
  left: 1350px
}


/* Estilos para el cuerpo */
body {
  background: url('/../assets/backgroundMAin.png');
   background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: absolute;
width: 201.5vh;
height:91.4vh;
}



.container {
  margin-top: 150px;
  height: 45vh; /* Ajusta la altura a la mitad de la pantalla */
  background-color: rgb(217, 217, 217);
  border-radius: 8px;
  color: #000;
}

/* Estilos para la tabla de ejercicios */
.ejercicios {
  width: 100%; /* Ancho total */
  overflow-y: auto; /* Añade scroll si es necesario */
}

.ejercicios ul {
  list-style: none;
  padding: 0;
}

.ejercicios li {
  padding: 10px;
  cursor: pointer;
}

.ejercicios li:hover {
  background-color: #f0f0f0;
}

