<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listado de Ejercicios</title>
</head>

  

    <div class="header">
        <h1>Administracion de Ejercicios</h1>
        
        <button ariaCurrentWhenActive="page" routerLink="/" routerLinkActive="active" class="botonheader">Home</button>

              <button ariaCurrentWhenActive="page" routerLink="/menu-principal" routerLinkActive="active" class="botonheader">Menu</button>

              <button ariaCurrentWhenActive="page" routerLink="/rutinas" routerLinkActive="active" class="botonheader">Rutinas</button>
      </div>
      <body>
    <div class="container">
      <div class="row">
          <div class="col-12 " >
              <h1 class="text-center" >Listado de Ejercicios</h1>
              <div class="table-responsive" style="max-height:  35vh; overflow-y: auto;">
                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>Nombre</th>
                              <th>Descripcion</th>
                              <th>Observaciones</th>
                              <th>Tipo:</th>
                              <th>Musculos Trabajados</th>
                              <th>Material</th>
                              <th>Dificultad</th>
                              <th>Multimedia</th>
                              <th>Acciones</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let ejercicio of ejercicios" class="align-middle">
                              <td>{{ ejercicio.id }}</td>
                              <td>{{ ejercicio.nombre }}</td>
                              <td>{{ ejercicio.descripcion }}</td>
                              <td>{{ ejercicio.observaciones }}</td>
                              <td>{{ ejercicio.tipo }}</td>
                              <td>{{ ejercicio.musculosTrabajados }}</td>
                              <td>{{ ejercicio.material }}</td>
                              <td>{{ ejercicio.dificultad }}</td>
                              <td>
                                <div *ngFor="let multimedia of ejercicio.multimedia">{{ multimedia }}</div>
                              </td>
                              <td>
                                  <button class="btn btn-sm btn-outline-primary m-1" (click)="editarEjercicio(ejercicio)">
                                      <i class="bi bi-pencil-fill"></i> Editar
                                  </button>
                                  <button (click)="eliminarEjercicio(ejercicio.id)" class="btn btn-sm btn-outline-danger m-1">
                                      <i class="bi bi-trash-fill"></i> Eliminar
                                  </button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                 
              </div>
             
          </div>
      </div>
      <button type="button" class="btn btn-outline-success bi bi-plus-lg" style="margin-top: 1.5%;" (click)="anadirEjercicio()">Añadir ejercicio</button>
  </div>
  
  </body>
</html>
  
  