<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listado de Rutinas</title>
</head>

  <div class="header">
    <h1>Administracion de Rutinas</h1>
    <button class="botonheader" aria-current="page" href="#">Home</button>

    <button ariaCurrentWhenActive="page" routerLink="/menu-principal" routerLinkActive="active" class="botonheader">Menu</button>

    <button ariaCurrentWhenActive="page" routerLink="/ejercicios" routerLinkActive="active" class="botonheader">Ejercicios</button>
  </div>
  <body>
  <div class = "fondo">
  <div class="container">
    <h1 class="text-center" >Listado de Rutinas</h1>
    <div class="rutinas-list">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Observaciones</th>
            <th>Ejercicios</th>
            <th>Acciones</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rutina of rutinas">
            <td>{{ rutina.id }}</td>
            <td>{{ rutina.nombre }}</td>
            <td>{{ rutina.descripcion }}</td>
            <td>{{ rutina.observaciones }}</td>
            <td>
              <ul style=" overflow-y: auto;">
                <li *ngFor="let ejercicio of rutina.ejercicios">
                  {{ ejercicio.ejercicio.nombre }} {{ ejercicio.series }} series de {{ ejercicio.repeticiones }} repeticiones, {{ ejercicio.duracionMinutos }} minutos
                </li>
              </ul>
            </td>
            <td>
              <!-- Botón de editar -->
              <button type="button" class="btn btn-primary" (click)="editarRutina(rutina)">Editar</button>
              <!-- Botón de eliminar -->
              <button type="button" class="btn btn-danger" (click)="eliminarRutina(rutina.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="acciones">
        <button type="button" class="btn btn-outline-success bi bi-plus-lg" (click)="anadirRutina()">Añadir rutina</button>
    </div>
  </div>
</div>
</body>
</html>
