<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="cuerpo">
    <div class="container">
        <img src="assets/logo.png" width="150" height="150">
        <h4>Página principal</h4>
        <p class ="parrafo">¡Bienvenido a nuestra plataforma de gestión de rutinas y entrenamientos! Descubre cómo alcanzar tus metas fitness de manera eficiente y organizada.</p>
        <div class="d-inline-flex gap-2 mb-5">
            <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button"
                [routerLink]="'/usuarios'">
                Gestión de usuarios (solo administradores)
                <svg class="bi ms-2" width="24" height="24"></svg>
            </button>
            <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button"
                [routerLink]="'/menu-principal'">
                Ejercicios y rutinas
            </button>
        </div>
    </div>
</body>

</html>
