
body {
    background-color: #2d2b2b; /* Color de fondo del body */
}

h4{
    color: white;
    padding-top: 25px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttons{
   text-align: centers;
}

.container{
    border-radius: 12px;
    width: 3000px;
    height: 300px;
    background-color:#212529;
    
}

